# Для клиента
BOT_TOKEN=ваш_токен
CONFIG_PATH_CLIENT=config.yaml

# Редис
REDIS_EXTERNAL_PORT=6379
REDIS_INTERNAL_PORT=6379
REDIS_PASSWORD=
REDIS_DATABASE=0

# Кафка
KAFKA_CLUSTER_ID=ваш_кластер_id
KAFKA_NODE_ID=1
KAFKA_PROCESS_ROLES=broker,controller
KAFKA_HOST_INTERANL_PORT=9092
KAFKA_HOST_EXTERNAL_PORT=9092
KAFKA_DOCKER_INTERNAL_PORT=9094
KAFKA_DOCKER_EXTERNAL_PORT=9094
KAFKA_CONTROLLER_PORT=9093
KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT,PLAINTEXT_DOCKER:PLAINTEXT
KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT_DOCKER
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS=0
KAFKA_LOG_DIRS=/kafka/kraft-combined-logs
KAFKA_HOST=localhost

# Топики
KAFKA_TOPIC_ADD_QUIZ_RESULT=add_quiz_result

# Кафка UI
KAFKA_UI_HOST_INTERNAL_PORT=8000
KAFKA_UI_HOST_EXTERNAL_PORT=8000
KAFKA_CLUSTERS_0_NAME=kraft
KAFKA_UI_AUTH_ENABLED=false

# Для админской БД
POSTGRES_DB_ADMIN=quiz_admin
POSTGRES_USER_ADMIN=postgres_user
POSTGRES_PASSWORD_ADMIN=postgres_password
POSTGRES_HOST_ADMIN=postgres-admin
POSTGRES_INTERNAL_PORT_ADMIN=5432
POSTGRES_EXTERNAL_PORT_ADMIN=5433
POSTGRES_SSL_MODE_ADMIN=disable

# Для игровой БД
POSTGRES_DB_PLAYER=quiz_player
POSTGRES_USER_PLAYER=postgres_user
POSTGRES_PASSWORD_PLAYER=postgres_password
POSTGRES_HOST_PLAYER=postgres-player
POSTGRES_INTERNAL_PORT_PLAYER=5432
POSTGRES_EXTERNAL_PORT_PLAYER=5434
POSTGRES_SSL_MODE_PLAYER=disable

# Для админского микросервиса
SERVICE_INTERNAL_PORT_ADMIN=8080
SERVICE_EXTERNAL_PORT_ADMIN=8080
SERVICE_GRPC_PORT_ADMIN=50052
CONFIG_PATH_ADMIN=config.yaml
SWAGGER_PATH_ADMIN=internal/pb/swagger/admins_api/admins.swagger.json

# Для игрового микросервиса
SERVICE_INTERNAL_PORT_PLAYER=8081
SERVICE_EXTERNAL_PORT_PLAYER=8081
SERVICE_GRPC_PORT_PLAYER=50051
CONFIG_PATH_PLAYER=config.yaml
SWAGGER_PATH_PLAYER=internal/pb/swagger/players_api/players.swagger.json