services:
  postgres-admin:
    image: postgres:15
    container_name: quizbot-postgres-admin
    env_file:
      - ./.env
    environment:
      - POSTGRES_DB=${POSTGRES_DB_ADMIN}
      - POSTGRES_USER=${POSTGRES_USER_ADMIN}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD_ADMIN}
    volumes:
      - db-admin-data:/var/lib/postgresql/data
    ports:
      - "${POSTGRES_EXTERNAL_PORT_ADMIN}:${POSTGRES_INTERNAL_PORT_ADMIN}"
    networks:
      - admin-db-network
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${POSTGRES_USER_ADMIN}"]
      interval: 10s
      timeout: 5s
      retries: 5

  server-admin:
    build:
      context: ./server-admin
      dockerfile: Dockerfile
    container_name: quizbot-server-admin
    ports:
      - "${SERVICE_EXTERNAL_PORT_ADMIN}:${SERVICE_INTERNAL_PORT_ADMIN}"
    networks:
      - admin-db-network
      - client-admin-network
      - kafka-network
    volumes:
      - ./server-admin:/app
      - ./server-admin/.air.toml:/app/.air.toml
      - ./server-admin/tmp:/app/tmp
    environment:
      - DB_HOST=${POSTGRES_HOST_ADMIN}
      - DB_PORT=${POSTGRES_INTERNAL_PORT_ADMIN}
      - DB_USER=${POSTGRES_USER_ADMIN}
      - DB_PASSWORD=${POSTGRES_PASSWORD_ADMIN}
      - DB_NAME=${POSTGRES_DB_ADMIN}
      - DB_SSL_MODE=${POSTGRES_SSL_MODE_ADMIN}
      - SWAGGER_PATH=${SWAGGER_PATH_ADMIN}
      - SERVICE_REST_PORT=${SERVICE_EXTERNAL_PORT_ADMIN}
      - SERVICE_GRPC_PORT=${SERVICE_GRPC_PORT_ADMIN}
      - configPath=${CONFIG_PATH_ADMIN}
      - KAFKA_HOST=${KAFKA_HOST}
      - KAFKA_PORT=${KAFKA_HOST_INTERANL_PORT}
      - KAFKA_TOPIC_ADD_QUIZ_RESULT=${KAFKA_TOPIC_ADD_QUIZ_RESULT}
    depends_on:
      postgres-admin:
        condition: service_healthy
  
  postgres-player:
    image: postgres:15
    container_name: quizbot-postgres-player
    env_file:
      - ./.env
    environment:
      - POSTGRES_DB=${POSTGRES_DB_PLAYER}
      - POSTGRES_USER=${POSTGRES_USER_PLAYER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD_PLAYER}
    volumes:
      - db-player-data:/var/lib/postgresql/data
    ports:
      - "${POSTGRES_EXTERNAL_PORT_PLAYER}:${POSTGRES_INTERNAL_PORT_PLAYER}"
    networks:
      - player-db-network
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${POSTGRES_USER_PLAYER}"]
      interval: 10s
      timeout: 5s
      retries: 5

  server-player:
    build:
      context: ./server-player
      dockerfile: Dockerfile
    container_name: quizbot-server-player
    ports:
      - "${SERVICE_EXTERNAL_PORT_PLAYER}:${SERVICE_INTERNAL_PORT_PLAYER}"
    networks:
      - player-db-network
      - client-player-network
      - kafka-network
    volumes:
      - ./server-player:/app
      - ./server-player/.air.toml:/app/.air.toml
      - ./server-player/tmp:/app/tmp
    environment:
      - DB_HOST=${POSTGRES_HOST_PLAYER}
      - DB_PORT=${POSTGRES_INTERNAL_PORT_PLAYER}
      - DB_USER=${POSTGRES_USER_PLAYER}
      - DB_PASSWORD=${POSTGRES_PASSWORD_PLAYER}
      - DB_NAME=${POSTGRES_DB_PLAYER}
      - DB_SSL_MODE=${POSTGRES_SSL_MODE_PLAYER}
      - SWAGGER_PATH=${SWAGGER_PATH_PLAYER}
      - SERVICE_REST_PORT=${SERVICE_EXTERNAL_PORT_PLAYER}
      - SERVICE_GRPC_PORT=${SERVICE_GRPC_PORT_PLAYER}
      - configPath=${CONFIG_PATH_PLAYER}
      - KAFKA_HOST=${KAFKA_HOST}
      - KAFKA_PORT=${KAFKA_HOST_INTERANL_PORT}
      - KAFKA_TOPIC_ADD_QUIZ_RESULT=${KAFKA_TOPIC_ADD_QUIZ_RESULT}
    depends_on:
      postgres-player:
        condition: service_healthy
  
  quiz-redis:
    image: redis:7.2-alpine
    container_name: quizbot-redis
    ports:
      - "${REDIS_EXTERNAL_PORT}:${REDIS_INTERNAL_PORT}"
    networks:
      - redis-network
    volumes:
      - redis-data:/data
    command: redis-server --appendonly yes --bind 0.0.0.0
    restart: unless-stopped

  quiz-bot-client:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: quizbot-client
    restart: unless-stopped
    env_file:
      - ./.env
    environment:
      - configPath=${CONFIG_PATH_CLIENT}
      - BOT_TOKEN=${BOT_TOKEN}
      - ADMIN_API_REST=http://server-admin:${SERVICE_EXTERNAL_PORT_ADMIN}
      - PLAYER_API_REST=http://server-player:${SERVICE_EXTERNAL_PORT_PLAYER}
      - ADMIN_API_GRPC=http://server-admin:${SERVICE_GRPC_PORT_ADMIN}
      - PLAYER_API_GRPS=http://server-player:${SERVICE_GRPC_PORT_PLAYER}
      - REDIS_URL=quiz-redis:${REDIS_EXTERNAL_PORT}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - REDIS_DATABASE=${REDIS_DATABASE}
    networks:
      - client-admin-network
      - client-player-network
      - redis-network
    volumes:
      - ./client/.air.toml:/app/.air.toml
      - ./client:/app
      - ./.env:/app/.env
      - ./client/tmp:/app/tmp

  quiz-kafka:
    image: apache/kafka:latest
    container_name: quizbot-kafka
    environment:
      - CLUSTER_ID=${KAFKA_CLUSTER_ID}
      - KAFKA_NODE_ID=${KAFKA_NODE_ID}
      - KAFKA_PROCESS_ROLES=${KAFKA_PROCESS_ROLES}
      - KAFKA_LISTENERS=PLAINTEXT_HOST://:${KAFKA_HOST_INTERANL_PORT},PLAINTEXT_DOCKER://:${KAFKA_DOCKER_INTERNAL_PORT},CONTROLLER://:${KAFKA_CONTROLLER_PORT}
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT_HOST://localhost:${KAFKA_HOST_INTERANL_PORT},PLAINTEXT_DOCKER://kafka:${KAFKA_DOCKER_INTERNAL_PORT}
      - KAFKA_CONTROLLER_LISTENER_NAMES=${KAFKA_CONTROLLER_LISTENER_NAMES}
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=${KAFKA_LISTENER_SECURITY_PROTOCOL_MAP}
      - KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:${KAFKA_CONTROLLER_PORT}
      - KAFKA_INTER_BROKER_LISTENER_NAME=${KAFKA_INTER_BROKER_LISTENER_NAME}
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=${KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR}
      - KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS=${KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS}
      - KAFKA_LOG_DIRS=${KAFKA_LOG_DIRS}
    ports:
      - "${KAFKA_HOST_EXTERNAL_PORT}:${KAFKA_HOST_INTERANL_PORT}"
      - "${KAFKA_DOCKER_EXTERNAL_PORT}:${KAFKA_DOCKER_INTERNAL_PORT}"
    volumes:
      - kafka_data:/kafka/kraft-combined-logs
    networks:
      - kafka-network

  quiz-kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: quizbot-kafka-ui
    depends_on:
      - kafka
    ports:
      - "${KAFKA_UI_HOST_EXTERNAL_PORT}:${KAFKA_UI_HOST_INTERNAL_PORT}"
    environment:
      - KAFKA_CLUSTERS_0_BOOTSTRAP_SERVERS=kafka:${KAFKA_DOCKER_INTERNAL_PORT}
      - KAFKA_CLUSTERS_0_NAME=${KAFKA_CLUSTERS_0_NAME}
      - KAFKA_UI_AUTH_ENABLED=${KAFKA_UI_AUTH_ENABLED}
    networks:
      - students-net
networks:
  client-admin-network:
    driver: bridge
  
  admin-db-network:
    driver: bridge
  
  client-player-network:
    driver: bridge
  
  player-db-network:
    driver: bridge
  
  redis-network:
    driver: bridge
  
  kafka-network:
    driver: bridge

volumes:
  db-admin-data:
  db-player-data:
  kafka_data:
  redis-data:
